<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Box-Sizing</title>
  <style>

    /* 출처 : MDN
    content값 = width값,
    border-box는 width 와 height 속성이 안쪽 여백과 테두리는 포함, 바깥 여백은 미포함.
    content-box는 width 와 height 속성이 컨텐츠 영역만 포함, 안팎 여백과 테두리는 미포함.
    */
    
    div {
      margin: 10px;
      width: 150px;
      box-sizing: border-box;
      /* box-sizing: content-box; */
    }
    #first {
      border: 10px solid purple;
    }
    #second {
      border: 50px solid black;
    }
  </style>
</head>
<body>
  <div id="first">This is a box!</div>
  <div id="second">This is a box!</div>
</body>
</html>